.App {
    width: 100%;
    height: 100vh;
}

.App h1 {
    text-align: center;
}

.list-component {
    border: 2px solid forestgreen;
    border-radius: 5px;
    width: 35%;
    padding: 10px;
    margin: 20px auto;
}

th {
    border-bottom: 1px solid black;
    padding: 5px;
}

td {
    text-align: center;
}
